*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}


.barra {
    background-color: rgb(193, 234, 241);
}

header { 
    width: 100%;
    height: 55px;
}

/* Curiosamente en la pseudoclase de hover no me funciona el cambio de color en algunos de los enlaces */
.barra a:hover {
    color: blue;
    text-shadow: 0 0 5px #fff}

.enlaces {
    margin-left: 40px;
    list-style: none;
    font-size: larger;
    font-weight: bold;
}

main {
    height: auto;
    background-color: rgb(150, 197, 201);
}

h1 { color: rgb(19, 40, 110);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 40px;
}

.contenedor-index {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.texto {
    width: 100%;
    color: black;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 20px;
    text-align: center;

}

.imagen-hotel {
    height: 250px;
    width: 300px;
    position: relative;
    padding-left: 10px;
    
}

.subtitulo {
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    padding: 50px 20px;
}

.contenedor-index-medio {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.texto-medio {
    height: 300px;
    width: 100%;
    color: black;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
    
    }

.imagen-antigua {
    height: 200px;
    width: 300px;
    position: relative;
    padding-left: 10px;  
}

#video-index {  
    padding-top: 30px;
    height: 100%; 
    width: 100%;
    position: relative;
}


footer {
    background-color: rgb(88, 123, 129);
    height: 80px;
    width: 100%;
    text-align: center;
}

footer p {
    font-size: 15px;
    margin-bottom: 5px;
    padding: 3px;
}

footer .redes i{
    color: aliceblue;
    font-size: 15px;
    letter-spacing: 5px;
}

footer a{
    text-decoration: none;
}

.subir {
    height: 19px;
    width: 18px;
    background-color: rgb(2, 2, 2);
    border-radius: 50%;
   position: fixed;
    right: 30px;
    bottom: 17px;
    text-align: center;
    line-height: 15spx;
    font-size: 14px;
    color: antiquewhite;   
}

footer a i:hover{
    color: gray;
}

/* Diseno de la pagina "restaurante"  */

.texto-restaurante {
    padding: 10px;
}

.contenedor-restaurante {
    width: 100%;
    height: auto;
    display: grid;
    padding: 10px;
    background:rgb(150, 197, 201);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "foto1 foto2"
    "foto3 foto4"
    "foto5 foto6"
    "foto7 foto8";
    grid-gap: 5px 5px;;

}

.item {
    background-color: rgb(150, 197, 201);
    border: 3px solid black;
    height: 250px;
    border-radius: 10px;
    background-size: cover;
    background-image: center;
}

.foto1 {
    grid-area: foto1;
    height: auto;
    background-image: url(../multimedia/restaurant-5521372_640.jpg);
}

.foto2 {
    grid-area: foto2;
    background-image: url(../multimedia/man-2557408_640.jpg);

}

.foto3 {
    grid-area: foto3;
    background-image: url(../multimedia/breakfast-5204352_640.jpg);
}

.foto4 {
    grid-area: foto4;
    background-image: url(../multimedia/beef-416967_640.jpg);
}

.foto5 {
    grid-area: foto5;
    background-image: url(../multimedia/food-1050813_640.jpg);
}

.foto6 {
    grid-area: foto6;
    height: auto;
    background-image: url(../multimedia/pizza-366111_640.jpg);
}
.foto7 {
    grid-area: foto7;
    background-image: url(../multimedia/pot-996977_640.jpg);
}

.foto8 {
    grid-area: foto8;
    background-image: url(../multimedia/food-712665_640.jpg);
}

.titulo-habitaciones {
    font-size: 30px;
    padding: 25px 0px 10px 10px;
    
}

.habitacion1 {
    height: 400px;
    width: 100%;
}

.texto-habitaciones {
    padding-left: 10px;
    padding-bottom: 15px;
}

/* inciio de la media para desktop */
@media only screen and (min-width: 320px) {

    header { 
        width: 100%;
        height: 56px;
    }
    

    h1 { color: rgb(19, 40, 110);
        text-align: center;
        padding-top: 40px;
        padding-bottom: 10px;
        font-size: 80px;
    }

    .contenedor-index {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
    
    .texto {
        width: 50%;
        color: black;
        font-size: larger;
        font-family: 'Montserrat', sans-serif;
        padding: 20px 20px;
        margin-left: 20px;
        text-align: center;
        flex-shrink:2;
    }
    
    .imagen-hotel {
        height: 400px;
        width: 550px;
        position: relative;
        padding-left: 50px;
        flex-shrink: 4;
    }
    
    .subtitulo {
        color: rgb(0, 0, 0);
        font-size: 60px;
        text-align: center;
    }
    
    .contenedor-index-medio {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
    
    .texto-medio {
        height: 250px;
        width: 50%;
        color: black;
        font-size: larger;
        font-family: 'Montserrat', sans-serif;
        padding: 10px 10px;
        margin-left: 15px;
        margin-right: 10px;
        border: 2px solid;
        border-radius: 10px;
        text-align: center;
        
        }
    
    .imagen-antigua {
        height: 400px;
        width: 50%;
        position: relative;
        padding-left: 30px;  
    }
    
    #video-index {  
        height: 100%; 
        width: 100%;
        position: relative;
    }

    footer {
        background-color: rgb(88, 123, 129);
        height: 80px;
        width: 100%;
        text-align: center;
    }
    
    footer p {
        font-size: 20px;
        margin-bottom: 10px;
        padding-top: 4px;
    }
    
    footer .redes i{
        color: aliceblue;
        font-size: 30px;
        letter-spacing: 15px;
    }
    
    footer a{
        text-decoration: none;
    }
    
    .subir {
        height: 40px;
        width: 40px;
        background-color: rgb(2, 2, 2);
        border-radius: 50%;
       position: fixed;
        right: 40px;
        bottom: 25px;
        text-align: center;
        line-height: 40px;
        font-size: 25px;
        color: antiquewhite;   
    }
    

.texto-restaurante {
    padding: 15px;
    font-size: 25px;
}

    .contenedor-restaurante {
    width: 100%;
    height: auto;
    display: grid;
    padding: 10px;
    background:rgb(150, 197, 201);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);

    grid-gap: 5px 5px; }


.item {
    background-color: rgb(150, 197, 201);
    border: 3px solid black;
    height: 250px;
    border-radius: 10px;
    background-size: cover;
    background-image: center;
}


.foto1 {
    grid-area: foto1;
    height: auto;
    background-image: url(../multimedia/restaurant-5521372_640.jpg);
    grid-column: 1/2;
    grid-row: 1/3;
}

.foto2 {
    grid-area: foto2;
    background-image: url(../multimedia/man-2557408_640.jpg);
    grid-column: 2/4;
}

.foto3 {
    grid-area: foto3;
    background-image: url(../multimedia/breakfast-5204352_640.jpg);
    grid-column: 2/3;
    grid-row: 2/3;
}

.foto4 {
    grid-area: foto4;
    background-image: url(../multimedia/beef-416967_640.jpg);
    grid-column: 3/4;
    grid-row: 2/3;
}

.foto5 {
    grid-area: foto5;
    background-image: url(../multimedia/food-1050813_640.jpg);
    grid-column: 1/3;
    grid-row: 3/4;
}

.foto6 {
    grid-area: foto6;
    height: auto;
    background-image: url(../multimedia/pizza-366111_640.jpg);
    grid-column: 3/4;
    grid-row: 3/5;
}
.foto7 {
    grid-area: foto7;
    background-image: url(../multimedia/pot-996977_640.jpg);
    grid-column: 1/2;
    grid-row: 4/5;
}

.foto8 {
    grid-area: foto8;
    background-image: url(../multimedia/food-712665_640.jpg);
    grid-column: 2/3;
    grid-row: 4/5;
}

.titulo-habitaciones {
    font-size: 40px;
    padding: 30px 0px 15px 10px;
    
}

.habitacion1 {
    height: 500px;
    width: 80%;
    padding-left: 200px;
}

.texto-habitaciones {
    padding-left: 30px;
    padding-bottom: 15px;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
}

.box {
    width: 35%;
}

.texto-reservas {
    padding: 10px 10px;

}

.mapa {
    margin-left: 20px;
}

.subtitulo-reservas {
    padding: 10px 15px;
}


}